{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        // 份额大于1，最后两个版本，ie大于8
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
